<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/blogstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header-container">
        <span class="back-btn"><a href="https://praveenraovpportfolio.herokuapp.com"><i class="fa-solid fa-left-long"></i></a></span>
        <header class="title-blog">
            <h1 class="title">Title</h1>
            <h2 class="author"> - Praveen Rao V P</h2>
        </header>
        <span class="dates">Date: </span>
    </div>

    <div class="intro">
        <p class="intro-txt">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus itaque corporis error omnis, sequi quis nulla aperiam aliquam totam nesciunt harum illo accusamus amet tempora officiis possimus commodi sapiente ut labore! Autem quaerat vitae optio laborum aliquam rerum culpa debitis. Nobis consectetur nesciunt cumque nam quo expedita at! Sed nulla consectetur praesentium ducimus fuga voluptates ipsum doloremque aperiam porro neque.
        </p>
    </div>

    <hr>

    <section class="topic topic-1 pic-des-left">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi maxime velit natus repudiandae vel quae officia est. Ipsa, maxime, nulla alias fuga tempora beatae cumque eum eaque nesciunt ab voluptatibus!</p>
        <figure>
            <img src="./blogimg/naruto.png" alt="">
            <figcaption>FigCaption</figcaption>
        </figure>
    </section>

    <hr>

    <section class="topic topic-1 pic-des-right">
        
        <figure>
            <img src="./blogimg/naruto.png" alt="">
            <figcaption>FigCaption</figcaption>
        </figure>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi maxime velit natus repudiandae vel quae officia est. Ipsa, maxime, nulla alias fuga tempora beatae cumque eum eaque nesciunt ab voluptatibus!</p>
    </section>

    <hr>

    <div class="lists">
        <h4>List Template</h4>
        <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ol>
    </div>

    <hr>

    <div class="conclusion">
        <h5>In conclusion,</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione repudiandae, corrupti nobis officiis porro molestias obcaecati natus doloremque laborum pariatur labore nihil! Ab, unde! Corporis libero deleniti, rerum cum ut, fugiat iure sequi enim culpa doloremque quasi sed id odio consequatur expedita? Dolor alias pariatur asperiores eos cupiditate quo cumque labore. Molestiae delectus officiis aspernatur vel reiciendis eius in modi!</p>
    </div>

    <section class="topic about">
        <figure>
            <img src="./blogimg/author.png" alt="">
            <figcaption>Praveen Rao V P</figcaption>
        </figure>
        <p>       
        <strong>Praveen Rao V P</strong>, 20, is an Indian college student aspiring to be a top-rated Front-End Developer. He writes blogs as a way to vent out / express his opinions on a wide range of topics he finds interesting. <br><br>
        Praveen is now open to grabbing opportunities in a sophisticated work environment. Socials are listed below!</p>
    </section>

    <footer class="socials">
        <h4>Socials</h4>
        <div class="contact-icon-container">
            <div class="contact-icons">
                <div class="contact-icon">
                    <a href="https://www.facebook.com/profile.php?id=100010928328385" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <div class="contact-icon">
                    <a href="https://www.instagram.com/praveen_rao01/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
               <div class="contact-icon">
                    <a href="https://www.youtube.com/channel/UCtpx3R_fdLmtaS-P_drkXgA" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="contact-icon">
                    <a href="https://www.linkedin.com/in/praveen-rao-v-p-59936b209/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <div class="contact-icon">
                    <a href="https://praveenraovpportfolio.herokuapp.com/" target="_blank">
                        <i class="fa-solid fa-globe"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>