@media screen and (max-width: 800px){
    header{
        padding: 0;
        min-height: 150vh;
    }
    header .right-header{
        padding: 2rem !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .left-header{
        .h-shape{
            display: none;
        }
    }   
    .main-btn{
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;

    }
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-gray5);
        .control{
            margin: 1rem 0.8rem;
        }
    }

    .about-container{
        grid-template-columns: 1fr;
        padding: 3rem !important;
        left.about{
            padding: 0 !important;
        }
        .right-about{
            padding-top: 2.5rem;
            grid-template-columns: 1fr;
        }
    }
    .about-timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }   


    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    hr{
        opacity: 0;
    }

    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .contact-content-con{
        flex-direction: column;
        padding: 1rem;
        text-align: left;
        justify-content: none;
        align-items: none;
        .input-ctrl{
            width: 100% !important;
        }

        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
            .ic2{
                display: block;
                :last-child{
                    margin-top: 1.5rem;
                    margin-left: 0;
                }
            }
            .submit-btn{
                width: 100%;
            }
        }
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-txt{
                font-size: 2.5rem;
                opacity: 0;
            }
        }
    }

    .contact-icon-container{
        padding-bottom: 7rem !important;
        padding-top: 5rem !important;
    }
}